/* Import a custom font from Google Fonts (see README) */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* Site-wide settings */

body {
    background-color: #cccccc;
    color: #05e680;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h4 span {
    font-weight: bold;
}

/* Card divs */

.holders {
    margin-top: 30px;
    margin-bottom: 30px;    
}

#card1, #card2, .col-card {
    border: 2px solid #111111;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.col-card {
    margin: 20px;
}

.stat-header {
    vertical-align: middle;
}

.btn a #againButton {
    color: white !important;
    text-decoration: none !important;
}

/* Footer */

footer {
    /* needs to stick to bottom of page */
    background-color: #111111;
    bottom: 0;
    color: #ffffff;
    position: fixed;
}

.footer div {
    font-size: 22px;
}

#footer-left {
    text-align: left;
}

#footer-right {
    text-align: right;
}

.gitlink,
.contact,
.foot-social i {
    color: #ffffff;
    text-decoration: none;
}

.foot-social i:hover,
.gitlink:hover {
    color: #8a2be2;
}

/* Bootstrap, Font Awesome customisations */

.btn {
    margin: 10px;
}

.btn.stat-select,
.btn.oppo-select {
    /* Chaining the classes overrides Bootstrap's default styling */
    font-weight: bold;
}

.btn-dark {
    background-color: #111111;
}

.fa-rotate {
    color: #ffffff;
}